@page "/keys"

<PageTitle>RSA keys</PageTitle>

<h1>RSA keygen</h1>
<div>
  <form>
    <input class="btn btn-primary" type="submit" value="Generate RSA key pair" style="margin: 1vh;"/>
    <input class="btn btn-primary" type="submit" value="Download your keypair" style="margin: 1vh;"/>
  </form>
</div>
<p></p>
<div>   
    <textarea style="margin: 1vh;">Your private key will be here</textarea>
    <textarea style="margin: 1vh;">Your public key will be here</textarea>
</div>
<p></p>
<div>
  <form>
    
  </form>
</div>