@page "/signature"

<PageTitle>Sign page</PageTitle>

<h1>RSA signature</h1>
<div>
  <form>
    <input class="btn btn-primary" type="submit" value="Import file" style="margin: 1vh;"/>
    <input class="btn btn-primary" type="submit" value="Download certificate" style="margin: 1vh;"/>
  </form>
</div>
<p></p>
<div>   
    <textarea style="margin: 1vh;">Paste your private key here</textarea>
    <textarea style="margin: 1vh;">Your signature will be here</textarea>
</div>
<p></p>
<div>
  <form>
    <input class="btn btn-primary" type="submit" value="Sign" style="margin: 1vh;"/>
  </form>
</div>